---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Tags from "../components/Tags.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage, tags } =
  Astro.props;
---

<html lang="ja">
  <head>
    <BaseHead title={title} description={description} />
    <style>
      main {
        width: calc(100% - 2em);
        max-width: 100%;
        margin: 0;
      }
      .hero-image {
        width: 100%;
      }
      .hero-image img {
        display: block;
        margin: 0 auto;
        border-radius: 12px;
        box-shadow: var(--box-shadow);
      }
      .prose {
        width: 780px;
        max-width: calc(100% - 2em);
        margin: auto;
        padding: 1em;
        color: rgb(var(--gray-dark));
      }
      .title {
        margin-bottom: 1em;
        padding: 1em 0;
        text-align: center;
        line-height: 1;
      }
      .title h1 {
        margin: 0 0 0.5em 0;
      }
      .date {
        margin-block-end: 0.3em;
        color: rgb(var(--gray));
        display: flex;
        gap: 1em;
        justify-content: right;
      }
      .last-updated-on {
        font-style: italic;
      }
      hr#title-separator {
        margin-block: 1.4em 0;
      }
      .tags-container {
        display: flex;
        justify-content: right;
        margin-block-start: 0.5em;
        color: rgb(var(--gray));
      }
      .tags-label {
        margin-inline-end: 0.5em;
      }
      :global(.prose) {
        h2::before {
          margin-inline-end: 0.3em;
        }
        h3::before {
          margin-inline-end: 0.3em;
        }
        h4::before {
          margin-inline-end: 0.3em;
        }
        h5::before {
          margin-inline-end: 0.3em;
        }
        h6::before {
          margin-inline-end: 0.3em;
        }
        ul {
          padding-inline-start: 20px;
        }
        li {
          line-height: 1.8;
          margin-block-end: 0.6em;
        }
      }

      @media (max-width: --var(--mobile-width)) {
        font-size: 0.9em;
      }
    </style>
  </head>

  <body>
    <Header />
    <main>
      <article>
        <div class="hero-image">
          {
            heroImage && (
              <img width={1020} height={510} src={heroImage} alt="" />
            )
          }
        </div>
        <div class="prose">
          <div class="title">
            <h1>{title}</h1>
            <div class="date">
              <span>created: <FormattedDate date={pubDate} /></span>
              {
                updatedDate &&
                  pubDate.toString() !== updatedDate.toString() && (
                    <span class="last-updated-on">
                      updated: <FormattedDate date={updatedDate} />
                    </span>
                  )
              }
            </div>
            <div class="tags-container">
              <span class="tags-label">tags: </span>
              <Tags tags={tags} />
            </div>
            <hr id="title-separator" />
          </div>
          <slot />
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
