<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title><%= title %></title>
  <link href="<%= uri %>" />
  <updated><%= updatedAt %> </updated>
  <author>
    <name>bokken</name>
  </author>
  <id><%= id %></id>

  <% articles.forEach((article) => { %>
  <entry>
    <title><%= article.title %></title>
    <link href="<%= article.uri %>" />
    <id><%= article.uuid %></id>
    <updated><%= article.updatedAt %></updated>
    <summary><%= article.summary %></summary>
    <icon>https://blog.bokken.io/assets/img/icon.png</icon>
    <logo>https://blog.bokken.io/assets/img/icon.png</logo>
  </entry>
  <% }) %>
</feed>
